@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&family=Sawarabi+Gothic&display=swap');
a{
	text-decoration: none;
}
body{
	margin: 0;
}
.wrapper{
	position: relative;
    width: 100%;
}
header{
	display: flex;
}
#logo {
    display: inline-block;
    width: 100%;
    background: #fff;
    text-align: center;
    z-index: 2;
}
#logo b{
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 29px;
	color: black;
	display: inline-block;
}
#logo p{
	font-size: 10px;
    position: relative;
    bottom: 10px;
    left: 5px;
    opacity: 0.7;
    color: gray;
}
div[id^='img']:hover{
    background:#1ab5b3 !important;
}
#wrapper .content {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: #fff;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: 0.3s;
    z-index: 2;
}
h3#head-1 {
    position: relative;
    top: 30px;
    left: 95px;
}
span#content-1 {
    position: relative;
    top: 15px;
    left: 120px;
}
span#content-2 {
    position: relative;
    top: 10px;
    left: 118px;
}
.fa-circle-right:before {
    content: "\f35a";
    font-size: 55px;
    position: relative;
    top: 20px;
    left: 145px;
    opacity: 0.8;
}
#wrapper .content:hover{
opacity:1;
transition-delay: 0.3s;
}
.close {
    display: none;
    position: fixed;
    left: 300px;
    top: 1px;
    z-index: 22;
    padding: 3px;
    border-radius: 3px;
    background: black;
}
.fa-times:before {
    content: "\f00d";
    color: #fff;
}
.top_navbar {
    display: none;
}
.hamburger {
    display: inline-block;
    position: fixed;
    background: black;
    z-index: 44;
    padding: 5px;
    border-radius: 3px;
    top: 2px;
}
.fa-bars:before{
    content: "\f0c9";
    color: #fff;
}
.sidebar {
    flex: 0 0 16%;
    background: #242b2e;
    box-shadow: 10px 0px 8px 0px rgb(0 0 0 / 30%);
    height: 100vh;
    position: fixed;
    z-index: 2;
}
.sidebar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar ul a{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 15px;
	display: block;
	text-align: right;
	background: #2f373b;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}
a.active,a:focus, a:hover, a:active, a:focus-within, a:focus {
    border: 0px solid #1ab5b3;
	background: #1ab5b3;
	transition-delay: 0.5s;
}
#sub-menu h3{
	font-family: 'Roboto', sans-serif;
	color: #1ab5b3;
	text-align: right;
	position: relative;
    right: 20px;
}
#sub-menu p {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: right;
	padding-right:15px;
}
p#text-1 {
    font-size: 11px;
    position: relative;
    bottom: 10px;
    right: 5px;
    opacity: 0.9;
}
p#text-2 {
    position: relative;
    bottom: 15px;
    opacity: 0.3;
    right: 5px;
    font-size: 10px;
}
#text-3{
	font-family: 'Roboto', sans-serif;
	position: relative;
    opacity: 0.3;
    right: 5px;
    top: 5px;
    font-size: 11px;	
}
.social-icons {
    position: relative;
    bottom: 2px;
}
.fa-pinterest:before {
    content: "\f0d2";
    color: #fff;
    background: red;
    padding: 4px;
    border-radius: 3px;
}
.fa-facebook-f:before {
    content: "\f39e";
    color: #fff;
    padding: 4px;
    background: #365294;
    border-radius: 2px;
}
.fa-behance:before {
    content: "\f1b4";
    color: #fff;
    background: #27afe3;
    padding: 4px;
    border-radius: 3px;
}
.fa-dribbble:before {
    content: "\f17d";
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    background: #ff52af;
}
.fa-twitter:before {
    content: "\f099";
    color: #fff;
    background: #2daee3;
    padding: 4px;
    border-radius: 3px;
}
.fa-google-plus-g:before {
    content: "\f0d5";
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    background: #d24f26;
}
.fa-flickr:before {
    content: "\f16e";
    background: white;
    padding: 4px;
    border-radius: 3px;
    color: #06c;
}
article{
	padding: 10px;
}
.photo-gallery{
	display: grid;
	grid-template-columns:repeat(4, 1fr) ;
}
#img-1{
    position: relative;
    width: 428px;
    height: 311px;
    left: 190px;
    background-image: url("../images/img1.png");
    border-radius: 1px;
}
#img-2 {
    position: relative;
    left: 142px;
    width: 428px;
    height: 311px;
    background-image: url(../images/img2.png);
    border-radius: 1px;
}
#img-3 {
    position: relative;
    left: 94px;
    width: 428px;
    height: 311px;
    background-image: url(../images/img1.png);
    border-radius: 1px;
}
#img-4 {
    position: relative;
    left: 46px;
    width: 428px;
    height: 311px;
    background-image: url(../images/img2.png);
    border-radius: 1px;
}
.fa-info-circle:before {
    content: "\f05a";
    font-size: 25px;
    color: #fff;
    position: absolute;
    left: 400px;
    top: 5px;
}
.popup {
    color: #fff;
    background: black;
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 225px;
}
.popup ul li{
    list-style: none;
    position: relative;
    right: 16px;
}
.fa-phone:before {
    content: "\f095";
    position: relative;
    right: 14px;
}
.fa-envelope:before {
    content: "\f0e0";
    position: relative;
    right: 14px;
}
.fa-house:before {
    content: "\f015";
    position: relative;
    right: 14px;
}
#img-5 {
    position: relative;
    left: 190px;
    width: 428px;
    height: 311px;
    background-image: url(../images/img2.png);
    border-radius: 1px;
}
#img-6 {
    position: relative;
    left: 142px;
    width: 428px;
    height: 311px;
    background-image: url(../images/img1.png);
    border-radius: 1px;
}
#img-7 {
    position: relative;
    left: 94px;
    width: 428px;
    height: 311px;
    background-image: url(../images/img2.png);
    border-radius: 1px;
}
#img-8 {
    position: relative;
    left: 47px;
    width: 428px;
    height: 311px;
    background-image: url(../images/img1.png);
    border-radius: 1px;
}
#img-9{
    position: relative;
    left: 190px;
    width: 428px;
    height: 311px;
    background-image: url("../images/img1.png");
    border-radius: 1px;    
}
#img-10{
    position: relative;
    left: 142px;
    width: 428px;
    height: 311px;
    background-image: url("../images/img2.png");
    border-radius: 1px;    
}
#img-11{
    position: relative;
    left: 94px;
    width: 428px;
    height: 311px;
    background-image: url("../images/img1.png");
    border-radius: 1px;
}
#img-12{
    position: relative;
    left: 47px;
    width: 428px;
    height: 311px;
    background-image: url("../images/img2.png");
    border-radius: 1px;    
}
#img-13{
    position: relative;
    left: 190px;
    width: 428px;
    height: 311px;
    background-image: url("../images/img2.png");
    border-radius: 1px;    
}
#img-14{
     position: relative;
    left: 142px;
    width: 428px;
    height: 311px;
    background-image: url("../images/img1.png");
    border-radius: 1px;
}
#img-15{
    position: relative;
    left: 94px;
    width: 428px;
    height: 311px;
    background-image: url("../images/img2.png");
    border-radius: 1px;
}
#img-16{
    position: relative;
    left: 47px;
    width: 428px;
    height: 311px;
    background-image: url("../images/img1.png");
    border-radius: 1px;
}
label #btn{
    position: absolute;
    cursor: pointer;
    background: #000;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;font-size: 35px;
    color: #fff;
    padding: 6px 12px;
}
@media screen and (max-width:600px){
    #logo {
        width: 100%;
    }
    .photo-gallery{
        grid-template-columns:repeat(1, 1fr) ;
        position: absolute;
        top: 0;
        right: 40px;
    }
    .sidebar {
        position: relative;
    }
    div[id^='img']{
        width: 350px !important;
        left: 70px !important;
    }
    .social-icons {
        left: 130px;
    }

    .top_navbar{
    display: block;
    }
}